body {
  background:black;
  color:#0f0;
  font-family:monospace;
  margin:0;
  padding:20px;
}

h1 {
  color:#0f0;
  font-size:28px;
  margin-bottom:20px;
}

.box {
  border:1px solid #0f0;
  padding:15px;
  border-radius:6px;
  margin-bottom:20px;
}

button,a.btn {
  display:block;
  width:100%;
  margin:12px 0;
  padding:15px;
  text-align:center;
  background:#111;
  color:#0f0;
  border:1px solid #0f0;
  border-radius:6px;
  font-size:22px;
  text-decoration:none;
}
